.Layout{
  max-width: 900px;
  margin: 0 auto;
  flex-wrap: wrap;
  display: flex;
}
.Layout header{
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  background-color:white;
}
.Layout aside{
  flex-grow: 50%;
  flex-shrink: 0;
  background-color:rgba(255, 192, 203, 0.74);
  margin-right: 100px; 
  flex-wrap: wrap;
}
.Layout main{
  flex:auto 1 1;
  background-color: rgba(255, 255, 255, 0.55);
  font-size: 22px;
}
.Layout footer{
  flex:100% 0 0;
  background-color: rgba(248, 37, 170, 0.404);

}

.Layout main p{
  background-color:cornsilk;
}
.Layout main h1{
  background-color: rgba(255, 0, 221, 0.439);
}
.Layout main img{
  width: 100%;
}