.CategoryList{
  width: 100%;
  margin-bottom: 40px;
}
.CategoryList a{
  font-size: 22px;
  transition: 0.3s;
}
.CategoryList a:hover{
  color: red;
}

.CategoryList p{
  color: crimson;
  font-size: 25px;
  text-align: center;
  margin-bottom: 25px;
}