.CategoryList {
  width: 100%;
  margin-bottom: 40px;
  cursor: pointer;
}

.CategoryList a {
  font-size: 22px;
  transition: 0.5s;
}

.CategoryList a:hover {
  color: #333;
}

.CategoryList p {
  color: rgba(234, 9, 88, 0.84);
  font-size: 30px;
  text-align: center;
  margin-bottom: 25px;
  transition: 0.5;
}

.CategoryList p:hover{
  color:#333;
}
