*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: inherit;
  
}
li{
  list-style-type: none;
}
body{
  margin: 0;
  color: #000;
  font-size: 16px;
  line-height: 1.3;
  font-family: 'Crimson Text', serif;
  background: url(https://i.pinimg.com/564x/39/1f/b8/391fb89df9bbe8202ec8db6a5d6341fa.jpg);
}


.Category h1{
  font-family:  serif;

}

.Product a{
  display: block;
  text-align: center;
}





