.NavToggle {
  display: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-align: center;
}

.NavToggle .line {
  width: 25px;
  height: 2px;
  margin: 5px;
  background-color: pink;
  
}

@media (max-width: 670px) {
  .NavToggle {
    display: inline-block;
  
  }
}