.Nav ul{
  display:flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.Nav ul li a{
  color: rgba(0, 0, 0, 0.779);
  padding: 10px;
  display: block;
}
@media (max-width: 850px) {
  .Nav ul {
    flex-direction: column;
  }
} 